*:focus {
  outline: none;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

form {
  width: 100%;
}

button {
  padding: 5px;
  border-radius: 0.2rem;
  cursor: pointer;
  margin: 5px;
  border: 2px solid var(--color-border);
  background-color: var(--color-background-alternate);
  color: var(--color-text-alternate);
}

button:active {
  border: 2px solid var(--color-border);
  background-color: var(--color-background-alternate);
  color: var(--color-text-alternate);
}

#close {
  padding: 2px 5px 2px 5px;
  margin: 0px 20px 0px 0px;
  border-radius: 0.8rem;
  cursor: pointer;
}

.input {
  width: 50%;
  border: 0px;
  border-radius: 0.2rem;
  background-color: var(--color-background-alternate);
  color:  var(--color-text-alternate);
}

.button-container {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  padding: 5px;
  width: 100%;
  display: flex;
}

.label {
  width: 40%;
}